/* RESET Css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans';
  font-size: 13px;
  line-height: 1.8em;
}
/* / RESET Css */

/* UTILITY CSS */
/* Display (visual & position) */
.flx {
  display: flex;
}

.al-cntr {
  align-items: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

.ofw-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.rounded{
  border-radius: 50%;
}
/* / Display (visual & position) */

/* Spaces (margin & padding) */
.kern16 > * {
  margin-right: 16px;
}

.kern32 > * {
  margin-right: 32px;
}

.pdd-15 {
  padding: 15px;
}
/* / Spaces (margin & padding) */

/* Text proprieties */
.txt-1x1 {
  font-size: 1.1em;
}

.txt-1x4 {
  font-size: 1.4em;
}

.txt-1x6 {
  font-size: 1.6em;
}

.txt-0x9 {
  font-size: 0.9em;
}

.txt-0x7 {
  font-size: 0.7em;
}

.txt-col-gray {
  color: #A0A0A0;
}
/* / Text proprieties */

/* Scrollbars */
.ofw-y::-webkit-scrollbar {
  width: 5px;
}

.ofw-y::-webkit-scrollbar-track {
  background: #FFF;
}

.ofw-y::-webkit-scrollbar-thumb {
  background: #CCC;
}
/* / Scrollbars */

/* Common styles */
.inp-box, .inp-box input, .usr-data,
.main-discuss-cont, .main-discuss-col {
  width: 100%;
}

.msg-box:after, .msg-box::before, .msg-hour,
.msg-box > i.fas, .msg-options {
  position: absolute;
}

.usr-list, i.fas, i.far,
.msg-options, .fa-paper-plane:hover {
  cursor: pointer;
}
/* / Common styles */

/* Common sections */
.usr-bar {
  height: 70px;
  background: #EAEAEA;
  justify-content: space-between;
}

.usr-bar img {
  height: 42px;
}

.inp-cont {
  padding: 5px 15px;
  background-color: #F6F6F6;
}

.inp-cont i {
  color: #919191;
}

.inp-box {
  background-color: #FFF;
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.03);
  transition: 0.3s;
}

.inp-box input {
  font-family: inherit;
  border: 0;
}

.inp-box input:focus {
  outline: none;
}
/* / Common sections */
/* / UTILITY CSS */

/* PAGE MAIN-CONTAINERS */
.wrapper {
  width: 100vw;
  height: 100vh;
  min-width: 950px;
  background: linear-gradient(#009688 16%, #DADBD3 16%);
}

.container {
  width: 90%;
  height: 95%;
  background: #FFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/* / PAGE MAIN-CONTAINERS */

/* LEFT Side */
.left-sd {
  width: 30%;
  border-right: 1px solid #C8C8C8;
}

/* Alerts section */
.alerts {
  min-height: 80px;
  background-color: #8EDAFC;
}

.alerts .fas.rounded{
  color: #8EDAFC;
  background-color: #FFF;
}
/* / Alerts section */

/* Search chat */
.left-sd .inp-cont {
  min-height: 50px;
}

.left-sd .inp-box {
  padding: 8px 16px;
}
/* / Search chat */

/* User list */
.usr-list {
  max-height: calc(100% - 200px);
}

.usr-list-row:hover {
  background-color: #F2F2F2;
}

.usr-avatar {
  padding: 10px 5px 5px 15px;
}

.usr-avatar img {
  height: 60px;
}

.usr-data {
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #F2F2F2;
}

.usr-data > * {
  justify-content: space-between;
}
/* / User list */
/* / LEFT Side */

/* RIGHT Side */
.right-sd {
  width: calc(100% - 30%);
}

/* Main chat area */
.main-discuss {
  height: calc(100% - 140px);
  background-color: #E5DDD5;
  background-image: url('../img/00-bg.png');
}

.main-discuss-cont {
  min-height: 100%;
  padding: 15px 80px;
  background-color: rgba(229, 221, 213, 0.92);
}

.sent.main-discuss-col {
  justify-content: flex-end;
}

/* message box */
.msg-box {
  max-width: 60%;
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 6px;
  word-break: break-all;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.msg-box > span:first-child {
  margin-right: 60px;
}

.msg-hour {
  font-size: 0.85em;
  right: 8px;
  bottom: 0;
}

.msg-box > i.fas {
  background-color: inherit;
  padding: 5px 5px 10px 15px;
  bottom: 0;
  right: 5px;
  opacity: 0;
}

.msg-box:hover i.fas {
  opacity: 1;
  transition: 0.18s;
}

.msg-options {
  transform: scale(0);
  min-width: 145px;
  list-style: none;
  background-color: #FFF;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.2);
  bottom: -50px;
  right: -15px;
  z-index: 1;
}

.msg-options.active {
  transition: 0.22s;
  transform: scale(1);
}

.sent .msg-box{
  background-color: #DCF8C6;
}

.received .msg-box{
  background-color: #FFF;
}

.msg-box:before, .msg-box:after {
  content: '';
  top: 0;
  border: 16px solid transparent;
  border-top: 0;
}

.received .msg-box:before, .received .msg-box:after {
  border-left: 0;
}

.sent .msg-box:before, .sent .msg-box:after {
  border-right: 0;
}

.received .msg-box:before {
	left: -14px;
  border-right-color: rgba(0, 0, 0, 0.3);
}

.sent .msg-box:before {
  right: -14px;
  border-left-color: rgba(0, 0, 0, 0.3);
}

.received .msg-box:after {
	left: -13px;
	border-right-color: #FFF;
}

.sent .msg-box:after {
	right: -13px;
	border-left-color: #DCF8C6;
}
/* / message box */
/* / Main chat area */

/* Bottom bar */
.right-sd .inp-cont {
  min-height: 70px;
}

.inp-box-focus {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.submit{
  min-width: 18px;
}

.submit.fa-paper-plane:hover {
  color : #009588;
}
/* / Bottom bar */
/* / RIGHT Side */
