* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility CSS */
.flx {
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
}

.ofw-auto {
  overflow: auto;
}
/* / Utility CSS */

.wrapper {
  width: 100vw;
  height: 100vh;
  min-width: 950px;
  font-family: 'Oxygen';
  font-size: 13px;
  background: linear-gradient(#009688 16%, #DADBD3 16%);
}

/* APP CONTAINER */
.container {
  width: 90%;
  height: 95%;
  background: #FFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

/* Left side */
.left-sd {
  width: 30%;
  background: #B5D8E7;
}
/* / Left side */

/* Right side */
.right-sd {
  width: calc(100% - 30%);
}

.main-right-sd {
  height: calc(100% - 77px);
  background-color: #E5DDD5;
  box-shadow: inset 3px -3px 3px rgba(0, 0, 0, 0.05);
  position: relative;
}

.main-right-sd:after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../img/00-bg.png');
  opacity: 0.09;
  top: 0;
  position: absolute;
}

.bottom-right-sd {
  height: 77px;
  background: #F0F0F0;
}
/* / Right side */
