<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML/CSS/JAVASCRIPT - SINGLE PAGE APP [Boolzap]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts link -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <!-- Fontawesome Icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <!-- VueJS framework link -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/00-ico.png">
  </head>
  <body>

    <div class="wrapper flx centered">

      <!-- APP CONTAINER -->
      <div id="app" class="container flx">
        <!-- LEFT Side-->
        <div class="left-sd">
          <!-- User-bar: data & links -->
          <section class="user-bar pdd-15 flx">
            <!-- user avatar -->
            <div class="flx al-cntr kern16">
              <img src="img/01.jpg" class="rounded" alt="user">
            </div>
            <!-- / user avatar -->
            <!-- user links -->
            <nav class="flx al-cntr kern32 txt-1x4 txt-col-gray">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </nav>
            <!-- / user links -->
          </section>
          <!-- / User-bar: data & links -->

          <!-- Alerts section -->
          <section class="alerts pdd-15 kern32 flx">
            <div>
              <i class="fas fa-bell-slash rounded txt-1x4 pdd-15"></i>
            </div>
            <div>
              <div class="txt-1x1">Ricevi notifiche di nuovi messaggi</div>
              <div class="txt-col-gray">Attiva notifiche descktop</div>
            </div>
          </section>
          <!-- / Alerts section -->

          <!-- Search chat -->
          <section class="input-container flx centered">
            <div class="input-box flx centered kern16">
              <i class="fas fa-search"></i>
              <input placeholder="Cerca o inizia una nuova chat">
            </div>
          </section>
          <!-- / Search chat -->

          <!-- User list -->
          <section class="user-list ofw-y">
            <!-- user in list -->
            <div
            v-for="(elm, i) in contacts"
            class="user-list-row kern16 flx"
            @click="selectChat(i)">
              <div class="user-avatar">
                <img :src="'img/avatar' + elm.avatar + '.jpg'" class="rounded" alt="user">
              </div>
              <div class="user-data flx">
                <div class="flx">
                  <span class="txt-1x1">{{elm.name}}</span>
                  <span class="txt-0x9 txt-col-gray">{{getLastValue(elm, 'date', 5)}}</span>
                </div>
                <span class="txt-col-gray">{{getLastValue(elm, 'text', 40)}}</span>
              </div>
            </div>
            <!-- / user in list -->
          </section>
          <!-- / User list -->
        </div>
        <!-- / LEFT Side -->

        <!-- RIGHT Side -->
        <div class="right-sd">
          <!-- User-bar: data & links -->
          <section class="user-bar pdd-15 flx">
            <!-- user avatar & data -->
            <div class="flx al-cntr kern16">
              <img :src="'img/avatar' + contacts[selectedChat].avatar + '.jpg'" class="rounded" alt="user">
              <div>
                <div class="txt-1x1">
                  {{contacts[selectedChat].name}}
                </div>
                <div class="txt-0x9 txt-col-gray">
                  Ultimo accesso: {{getLastAccess()}}
                </div>
              </div>
            </div>
            <!-- / user avatar & data -->
            <!-- user links -->
            <nav class="flx al-cntr kern32 txt-1x4 txt-col-gray">
              <i class="fas fa-search"></i>
              <i class="fas fa-ellipsis-v"></i>
            </nav>
            <!-- / user links -->
          </section>
          <!-- / User-bar: data & links -->

          <!-- Main chat area -->
          <section class="main-discuss ofw-y">
            <div class="main-discuss-container">
              <div v-for="(el, i) in contacts[selectedChat].messages">
                <!-- column -->
                <div class="main-discuss-col flx" :class="el.status">
                  <div class="chat-box flx">
                    <span>{{el.text}}</span>
                    <span class="txt-col-gray txt-0x8">{{el.date.slice(11, 16)}}</span>
                  </div>
                </div>
                <!-- column -->
              </div>
            </div>
          </section>
          <!-- / Main chat area -->
          <!-- Bottom bar -->
          <section class="input-container flx centered kern16 txt-1x6">
            <i class="far fa-grin"></i>
            <i class="fas fa-paperclip"></i>
            <!-- write message -->
            <div class="input-box pdd-15 flx centerd">
              <input class="txt-0x7" v-model="myMsg"
              v-on:keyup.enter="msgPass" placeholder="Scrivi un messaggio">
            </div>
            <!-- / write message -->
            <i class="fas fa-microphone"></i>
          </section>
          <!-- / Bottom bar -->
        </div>
        <!-- / RIGHT Side -->
      </div>
      <!-- / APP CONTAINER -->

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
  </html>
